body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/409c3c91092743.5e2890dfbb9de.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	color: #837112;
}

hr {
	border-width: 3px;
	border-color: #ff2f00;
	max-width: 65px;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn {
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
}

.btn-primary {
background-color: #ff2f00;
border-color:  #ff2f00;
}

.btn-primary:hover {
	background-color: #712413;
	border-color: #712413;
	border-width: 4px;
}
.buffer {
	height: 30rem;
}